body.controller-groups {
  &.action-show {
    table {
      width: 100%;
      table-layout: fixed;

      thead > tr, tbody > tr {
        td:first-child, th:first-child {
          width: 350px;
        }
      }

      tbody > tr {
        td.translation-key {
          .translation-key-text {
            overflow-x: auto;
          }
        }

        td.translation {
          .translation-input {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
