body.controller_groups {
  &.action_show {
    .line-content {
      font-family: Monospace;
      border: 1px solid black;
      background-color: lightgrey;
      padding: 5px;

      pre {
        margin: 0px;
      }
    }

    .line-spacer {
      height: 10px;
    }
  }
}
