html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans";
  font-size: 14px;
}

h1 {
  font-size: 40px;
  font-family: "Raleway";
}

a:link, a:visited {
  color: steelblue;
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: underline;
}

table.main-table {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0px;

  td.main-logo {
    font-size: 40px;
    font-family: "Raleway";
    padding: 22px;
  }

  td.main-menu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;

    .menu-item {
      float: left;
      margin-right: 12px;
    }
  }

  td.main-content {
    height: 100%;
    vertical-align: top;
    padding: 12px;
  }
}

table > thead > tr > th {
  text-align: left;
}
