- content_for(:header_title) { Handlers }
- content_for(:header_right) { link_to "Update", update_cache_handlers_path, method: :post, class: "button", data: {confirm: "Are you sure?"} }

%table
  %thead
    %tr
      %th Handler
  %tbody
    - @handlers.each do |handler|
      %tr
        %td= link_to handler.name, handler_path(handler.identifier)
    - if @handlers.empty?
      %tr
        %td.error{colspan: 1} No handlers were found.
