- content_for(:header_title) { "Handlers" }
- content_for(:header_right) { bb_btn update_cache_handlers_path, "Update", method: :post, sm: true, icon: "refresh", data: {confirm: "Are you sure?"} }

= bb_panel "Handlers", table: true do
  %thead
    %tr
      %th Handler
      %th.hidden-xs-down Translations
  %tbody
    - @handlers.each do |handler|
      %tr
        %td= link_to handler.name, handler_path(handler)
        %td.hidden-xs-down= handler.handler_translations.length
    - if @handlers.empty?
      %tr
        %td.error{colspan: 2} No handlers were found.
