%h1= "Show handler: #{@handler.name}"

%table
  %thead
    %th Group
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, handler_group_path(@handler, group)
    - if @groups.empty?
      %tr
        %td.error{colspan: 2} No groups were found.
