%h1= "Show handler: #{@handler.name}"

%table
  %thead
    %th Group
    %th Translations
    %th Finished
    %th Unfinished
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, handler_group_path(@handler, group)
        %td= group.handler_translations.count
        %td
          -#= group.translations.count(finished: true)
        %td
          -#= group.translations.count(unfinished: true)
    - if @groups.empty?
      %tr
        %td.error{colspan: 2} No groups were found.
